alabaster==0.7.10
argh==0.26.2
Babel==2.5.3
beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
colorama==0.3.9
contentful-management==1.5.1
docutils==0.14
dominate==2.3.1
Flask==0.12.2
Flask-Bootstrap==3.3.7.1
google-api-python-client==1.6.2
gunicorn==19.7.1
httplib2==0.10.3
idna==2.6
imagesize==0.7.1
itsdangerous==0.24
Jinja2==2.9.6
livereload==2.5.1
Markdown==2.6.11
MarkupSafe==1.0
md2py==0.0.1
nose==1.3.7
oauth2client==4.1.2
pathtools==0.1.2
port-for==0.3.1
pyasn1==0.3.2
pyasn1-modules==0.0.11
Pygments==2.2.0
pypandoc==1.4
python-dateutil==2.6.1
python-termstyle==0.1.10
pytz==2017.3
PyYAML==3.12
requests==2.20.0
robotframework==3.0.2
rsa==3.4.2
six==1.10.0
slackclient==1.0.9
sniffer==0.4.0
snowballstemmer==1.2.1
Sphinx==1.6.6
sphinx-autobuild==0.7.1
sphinxcontrib-websupport==1.0.1
tornado==4.5.3
uritemplate==3.0.0
urllib3==1.22
visitor==0.1.3
watchdog==0.8.3
websocket-client==0.44.0
Werkzeug==0.12.2
